<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <nav class="fixed left-0 top-0 w-screen  bg-gray-800">
        <h1 class="p-5 text-l text-white">Stonking</h1>
    </nav>
    <nav class="fixed left-0 h-screen pt-32 p-8  bg-gray-600">
        <ul class="flex flex-col">
            <li class="px-10 py-5 text-lg" data-page="stonks">/stonks</li>
            <li class="px-10 py-5 text-lg" data-page="news">/news</li>
        </ul>
    </nav>
    <div id="main" class="container mt-16 ml-56">
        {% block page_content %}{% endblock %}
    </div>
</body>
</html>